.screen-header{
    display:flex;
    justify-content: space-between;
    padding:50px 25px 25px 25px;
    align-items: center;
    margin-bottom: 15px;
}

.screen-header__title{
    font-size: 32px;
    font-weight: 600;
}

.screen-header__icons span{
    padding-left:25px;
}

